<ion-content class="login-content">

  <div class="login-wrapper">

    <div class="login-card">

      <h1 class="title"><ion-icon name="heart"></ion-icon>Dobrodošli<ion-icon name="heart"></ion-icon></h1>
      <p class="subtitle">Prijavi se da nastaviš</p>

      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Lozinka</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-btn" (click)="prijaviSe()">
        Prijavi se
      </ion-button>

      <ion-button expand="block" fill="clear" class="register-btn" (click)="registrujSe()">
        Nemaš nalog? Registruj se
      </ion-button>

    </div>

  </div>

</ion-content>