<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">

  <div class="profile-wrapper">

    <div class="profile-card">

      <div class="avatar">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>

      <h2>{{ user?.ime }} {{ user?.prezime }}</h2>

      <p>{{ user?.email }}</p>

      <ion-button class="logout-btn" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Odjava
      </ion-button>

    </div>

  </div>

</ion-content>