<ion-header class="hero-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Profil</ion-title>
  </ion-toolbar>

  <div class="hero-overlay">
    <div class="hero-text">
      <h1>{{ user?.ime }} {{ user?.prezime }}</h1>
      <p>Planirajte svoj savršen dan  <ion-icon name="sparkles-outline"></ion-icon></p>
    </div>
  </div>
</ion-header>

<ion-content class="profile-content">

  <div class="profile-wrapper">

    <div class="profile-card">

      <div class="avatar">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>

      <h2>{{ user?.ime }} {{ user?.prezime }}</h2>

      <p>{{ user?.email }}</p>

      <ion-button class="logout-btn" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Odjava
      </ion-button>

    </div>

  </div>

</ion-content>