<ion-content class="home-content">

  <div class="home-wrapper">

    <div class="home-card">

      <h1 class="title">Moje rezervacije</h1>

      <p class="subtitle">Pregled svih tvojih termina</p>

      <ion-list>

        <ion-item *ngFor="let r of reservations">

          <ion-label>

            <h2>{{ r.date }}</h2>

            <p>Broj gostiju: {{ r.guestsCount }}</p>

            <p>Status: {{ r.status }}</p>

          </ion-label>

        </ion-item>

      </ion-list>

      <ion-button
        expand="block"
        class="login-btn"
        routerLink="/reservation">

        + Nova rezervacija

      </ion-button>

    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">

      <div class="copyright">
        © 2026 Wedding-app
      </div>

      <div class="social">
       <a href="https://www.youtube.com/watch?v=450p7goxZqg" target="_blank">
  <ion-icon name="globe-outline"></ion-icon>
</a>
     <a href="https://www.instagram.com/" target="_blank">
  <ion-icon name="logo-instagram"></ion-icon>
</a>
      </div>

    </div>
  </ion-toolbar>
</ion-footer>